@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: rgb(212 212 212 / 0.9);
  --text-secondary: rgb(212 212 212 / 0.65);

  --background-primary: rgba(0, 0, 0, 0.5);
  --background-secondary: rgba(0, 0, 0, 0.5);

  --color-online: rgba(0, 180, 0, 0.5);

  --hover-primary: rgb(185 28 28 / 0.5);

  --selected-primary: rgb(234 88 12 / 0.5);

  --armor-color: rgba(0, 13, 255, 0.5);
}
